<ion-view view-title="LookItUp">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
<a target="_" href="https://airtable.com/shrMMjfn75ibr8V2g">
    <button class="button button-stable">   <i class="icon ion-edit"></i> Edit </button> </a>

<a target="_" href="https://sha1-online.com">
    <button class="button button-stable">   <i class="icon ion-edit"></i> sha1 </button> </a>
  </ion-nav-buttons>

<ion-header-bar class="bar-positive">
    <h1 class="title"> </h1>
  </ion-header-bar>

  <ion-content class="has-header">

<div class="row-fluid">  <h4> </h4>
 rawS:: {{rawS}}
</div>  

  <h4> </h4>

<div  class="list card" ng-repeat="pp in rawS" ng-init="ppIdx = $index">
  <div class="row">  <div class="col-40">
<span class="button" ng-click="calcTsw()"><span class="badge badge-energized">{{pp.fields.Account}}</span>
</span></div>
<div class="col text-center">
<span class="button button-small button-light"> F9: </span>
<span class="button button-small button-stable"> {{ pp.fields.sha1_6 }} </span>
   <br> <br>
<span class="button button-small button-light"> B9: </span>
<span class="button button-small button-stable"> {{ pp.fields.Extra }} </span>
</div></div>

</div>

  <h4> </h4>

  <div class="row-fluid"> Copyright &copy; &middot; Lee DaBord &middot; Inglewood, CA. USA
  </div>

</ion-content>
</ion-view>
