<ion-view title="Game Stats">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-calm">{{vGm.vGH.pp}}</button>
    <span class="button button-stable"> </span>
    <button class="button button-dark">{{vGm.vGV.pp}}</button>
  </ion-nav-buttons>

<ion-content class="has-header">

<div class="row">   <div class="col-25 text-center">
      <span  ng-repeat="onCvP in vGm.vP"  ng-show="onCvP.onc">   
<br>      <button class="button button-small button-calm" ng-click="pTally(ttIdx, $index)">  {{onCvP.Nm}} &nbsp;{{onCvP.Nu}} </button>
<br>   <strong> {{ onCvP.pp }} &nbsp; {{ onCvP.pf }} &nbsp; {{ onCvP.tov }}    </strong>
<br>    
<label class="toggle toggle-small toggle-calm">
              <input type="checkbox" ng-model="onCvP.onc" ng-change="pTally('-', -1)" >
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label> 
<br> </span>
   <br> <span class="button button-small button-light">  {{ appLog }}  </span>  
</div>
<div class="col text-center">
        <button ng-click="pTally('yft', -1)"  class="button   button-balanced"> FT.y </button>
   &nbsp;  <button ng-click="pTally('xft', -1)"  class="button   button-energized"> ft.x </button>
     <br>  <br>
           <button ng-click="pTally('y2p', -1)"  class="button   button-balanced"> 2P.y </button>
   &nbsp;  <button ng-click="pTally('x2p', -1)"  class="button   button-energized"> 2p.x </button>
     <br>  <br>
       <button ng-click="pTally('y3p', -1)"  class="button   button-balanced"> 3P.y </button>
   &nbsp;  <button ng-click="pTally('x3p', -1)"  class="button   button-energized"> 3p.x </button>
     <br>  <br>
          <button ng-click="pTally('drb', -1)"  class="button   button-balanced"> d.RB </button>
     &nbsp;   &nbsp;  &nbsp; <button ng-click="pTally('orb', -1)"  class="button  button-small   button-royal"> o.RB </button>     

    <br><br>         <button ng-click="pTally('ast', -1)"  class="button   button-royal"> AST </button>
     &nbsp;  <button ng-click="pTally('stl', -1)"  class="button   button-royal"> STL </button>
    <br><br>          <button ng-click="pTally('blk', -1)"  class="button   button-royal"> BLK </button>          
     &nbsp;   &nbsp;  &nbsp;  <button ng-click="pTally('tov', -1)"  class="button  button-small   button-assertive"> TOV </button>
<br><br>              <button ng-click="pTally('pf', -1)"  class="button  button-small   button-energized"> p.F </button>
     &nbsp;   &nbsp;  &nbsp;             <button ng-click="pTally('tf', -1)"  class="button  button-small   button-assertive"> t.F </button>
</div>
  <div class="col-20 text-center">  
      <span class="button-small"> Opp: </span>
<br> <button ng-click="pTally('v2p', -1)" class="button button-small button-dark">2P</button>
<br><br>     <button ng-click="pTally('v3p', -1)" class="button button-small button-dark">3P</button>
 <br><br>          <button ng-click="pTally('vft', -1)" class="button button-small button-dark">1P</button>
      <br><br>  <button ng-click="pTally('vpf', -1)" class="button button-small button-dark">pf: {{vGm.vGV.ff}}</button>

<br><br>     <br><br>     <br><br> 
     
  <button class="button button-small button-stable" ng-click="tglundoCB()">  
      <input type="checkbox" ng-model="undoCB"> undo </button>
</div>
</div>

      <!-- href="#/app/playlists/{{onCvP.Nu}}" -->

    <ion-list>
      <ion-item class="card" ng-repeat="bvP in vGm.vP">   
      
<div class="row">   <div class="col-20 text-center">
      <span class="button button-small button-stable">  {{bvP.Nm}}  {{bvP.Nu}} </span>
<br><br>    
<label class="toggle toggle-small toggle-calm">
              <input type="checkbox" ng-model="bvP.onc" ng-change="pTally('+', -1)" >
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>  
  </div>
   <div class="col text-center">
<span class="button button-small button-light">       
<strong>Pts: {{ bvP.pp }}  &nbsp;  pf: {{ bvP.pf }}  &nbsp; tov: {{ bvP.tov }}</strong>  &nbsp;  
  </span>
<br>    <input type="checkbox" ng-model="bvP.q1"> 
    <input type="checkbox" ng-model="bvP.q2">   &nbsp;
    <input type="checkbox" ng-model="bvP.q3">       
    <input type="checkbox" ng-model="bvP.q4">     
  </div>
</div>
<div class="row-fluid">
<span class="button button-small button-light">       
  2p:  {{bvP.y2p}}/{{bvP.y2p + bvP.x2p}} [{{ bvP.rrfg }}%]
    &nbsp;&nbsp; 3p: {{ bvP.y3p }}/{{bvP.y3p + bvP.x3p }} [{{ bvP.rr3p }}%]
    &nbsp;&nbsp; ft: {{ bvP.yft }}/{{bvP.yft + bvP.xft }} [{{ bvP.rrft }}%] 
    <br>ast: {{ bvP.ast }} &nbsp;stl: {{ bvP.stl }}
    &nbsp;blk: {{ bvP.blk }}  &nbsp; d.Rb: {{ bvP.drb }}  &nbsp;o.Rb: {{ bvP.orb }} &nbsp; t.F: {{ bvP.tf }}
  </span>
</div>

      </ion-item>
    </ion-list>

  <h2> </h2>  <button ng-click="resetLS()"  class="button button-small button-stable">reset </button>

  </ion-content>
</ion-view>
