<ion-view title="Game Stats">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-calm">{{vGm.vGH.pp}}</button>
    <span class="button button-stable"> </span>
    <button class="button button-dark">{{vGm.vGV.pp}}</button>
  </ion-nav-buttons>

<ion-content class="has-header">

    <ion-list>
      <ion-item>   
      
      <!-- href="#/app/playlists/{{onCvP.Nu}}" -->

  <div class="row">  <div class="card col text-center"  ng-repeat="onCvP in vGm.vP" ng-show="onCvP.onc">
          <label class="toggle toggle-small toggle-calm">
              <input type="checkbox" ng-model="onCvP.onc" ng-change="pTally('-', 0)" >
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
<br>                <input type="checkbox" ng-model="onCvP.onc2">     &nbsp;    <strong> {{ onCvP.pp }}  &nbsp;   {{ onCvP.pf }}  &nbsp;   {{ onCvP.tov }}    </strong>
<br>      <button class="button button-small button-calm" ng-click="setppIdx($index)">  {{onCvP.Nm}}  {{onCvP.Nu}} </button>
</div></div>

      <!-- href="#/app/playlists/{{onCvP.Nu}}" -->
<div class="row">
<div class="col text-center">
           <button ng-click="pTally('y2p', ppIdx)"  class="button   button-balanced"> 2P.y </button>
   &nbsp;         <button ng-click="pTally('y3p', ppIdx)"  class="button   button-balanced"> 3P.y </button>
   &nbsp;          <button ng-click="pTally('yft', ppIdx)"  class="button   button-balanced"> FT.y </button>
     <br>  <br>
           <button ng-click="pTally('x2p', ppIdx)"  class="button   button-energized"> 2p.x </button>
   &nbsp;  <button ng-click="pTally('x3p', ppIdx)"  class="button   button-energized"> 3p.x </button>
   &nbsp;  <button ng-click="pTally('xft', ppIdx)"  class="button   button-energized"> ft.x </button>
</div>
<div class="col text-center">
             <button ng-click="pTally('ast', ppIdx)"  class="button   button-royal"> AST </button>
     &nbsp;  <button ng-click="pTally('stl', ppIdx)"  class="button   button-royal"> STL </button>
     &nbsp;  <button ng-click="pTally('blk', ppIdx)"  class="button   button-royal"> BLK </button>          
     <br>  <br>
          <button ng-click="pTally('tov', ppIdx)"  class="button   button-energized"> TOV </button>
</div>
<div class="col text-center">
            <button ng-click="pTally('drb', ppIdx)"  class="button   button-balanced"> d.RB </button>
     &nbsp;          <button ng-click="pTally('orb', ppIdx)"  class="button   button-royal"> o.RB </button>
     <br>  <br>
           <button ng-click="pTally('pf', ppIdx)"  class="button   button-energized"> p.F </button>
     &nbsp;          <button ng-click="pTally('tf', ppIdx)"  class="button   button-assertive"> t.F </button>
</div>
  <div class="col text-right">  
      <span class="button-small"> Opponent: </span>
<br>      <button ng-click="pTally('v2p', 0)" class="button button-small button-stable">2P</button>
      <span class="button-small">  &nbsp;  </span>
      <button ng-click="pTally('v3p', 0)" class="button button-small button-stable">3P</button>
<br>      <button ng-click="pTally('vft', 0)" class="button button-small button-stable">1P</button>
<br><br>  <button class="button button-small button-stable" ng-click="tglundoCB()">  
      <input type="checkbox" ng-model="undoCB"> undo </button>
</div>
</div>
      </ion-item>
    </ion-list>

  <div class="row-fluid">  <h2> </h2>   </div>

    <ion-list>
      <ion-item class="card" ng-repeat="bvP in vGm.vP" ng-hide="bvP.onc">   
      
      <!-- href="#/app/playlists/{{bvP.Nu}}" -->

<!-- div  class="list card" ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index"
</div>
-->
<div class="row">
<div class="col-20">
      <span class="button button-small button-stable">  {{bvP.Nm}}  {{bvP.Nu}} </span>
</div>
<div class="col-50 text-center">
      <strong>pts: {{ bvP.pp }}  &nbsp;  pf: {{ bvP.pf }}  &nbsp; tov: {{ bvP.tov }}</strong>  &nbsp;  
</div>
<div class="col text-right">
        <label class="toggle toggle-small toggle-light">
              <input type="checkbox" ng-model="bvP.onc"  ng-change="pTally('+', 0)" >
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
</div>
</div>
  <div class="row-fluid button button-small button-light"> 
 2p:  {{ bvP.y2p }}-{{ bvP.x2p }} [{{ bvP.rrfg }}%]
    &nbsp;&nbsp; 3p: {{ bvP.y3p }}-{{ bvP.x3p }} [{{ bvP.rr3p }}%]
    &nbsp;&nbsp; ft: {{ bvP.yft }}-{{ bvP.xft }} [{{ bvP.rrft }}%] 
    <br>ast: {{ bvP.ast }} &nbsp;stl: {{ bvP.stl }} 
    &nbsp;blk: {{ bvP.blk }}  &nbsp;d.Rb: {{ bvP.drb }}  &nbsp;o.Rb: {{ bvP.orb }} &nbsp;t.F: {{ bvP.tf }}
  </div>

      </ion-item>
    </ion-list>

  <h2> </h2>  <button ng-click="resetLS()"  class="button button-small button-stable">reset </button>

  </ion-content>
</ion-view>
