<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" ng-show="playlist.show">   
      
      <!-- href="#/app/playlists/{{playlist.id}}" -->

<!-- div  class="list card" ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index"
</div>
-->

  <div class="row">  <div class="card col-20 text-center">
      <span class="button button-small button-calm">  {{playlist.title}}  {{playlist.id}} </span>
<br>          <label class="toggle toggle-energized">
              <input type="checkbox" ng-model="playlist.show">
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
</div>
<div class="col text-right">
<span class="button button-positive"> ts </span>
<span class="button button-small button-balanced"> tw </span>
<span class="button button-small button-royal"> wP </span>
</div></div>
  <div class="row-fluid"> 
  key stats
  </div>
  <h2> </h2>

      </ion-item>
    </ion-list>

  <div class="row-fluid">  Bench:  <h2> </h2>  </div>

  <div class="row-fluid">  

      <span class="card" ng-repeat="playlist in playlists" ng-hide="playlist.show">   
      
      <!-- href="#/app/playlists/{{playlist.id}}" -->

<!-- div  class="list card" ng-repeat="pp in xxTimes($l_s.vm.pp)" ng-init="ppIdx = $index"
</div>
-->

      <span class="button button-small button-calm">  {{playlist.title}}  {{playlist.id}} </span>
      <label class="toggle toggle-energized">
              <input type="checkbox" ng-model="playlist.show">
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>

<span class="button button-small button-light">  </span>

      </span>
</div>

  </ion-content>
</ion-view>
